/* *************** */
/* HEADER BEGIN */
#topbar {

    color: dimgray;
    font-size: .65em;

    a {
        color: dimgray;
        font-size: .65em;
        text-decoration: none;
    }

    i {
        font-size: 1em;
    }
    .socials {
        font-size: 3em;
        text-decoration: none;

    }
    .phone {
        font-size: 1.65em;
    }
}

/* HEADER END   */
/* *************** */
